.center {
  margin: 2rem auto 0;
  position: relative;
  width: 90%;
  text-align: center;
}

.mappa {
  margin: 0 auto;
  width: 90%;
}

img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}

.big {
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  text-align: center;
  margin: 1em 0;
  letter-spacing: 0.16em;
  font-weight: 500;
}

.testo {
  margin: 0 auto;
  max-width: 150ch;
}

.testo p {
  padding: 1.4rem 1.6rem;
  font-size: clamp(1.2rem, 2vw, 2rem);
  text-align: justify;
}

.wrapperP {
  padding: 4rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2.5em;
}

.evidenza {
  background: white;
  width: 350px;
  display: inline-block;
  /* margin: auto; */
  border-radius: 19px;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  transition: transform 0.2s;
  max-width: 100%;
  margin: 30px;
}
.evidenza:hover {
  transform: scale(1.16);
}

.imgname {
  font-size: clamp(1.9rem, 2vw, 2.4rem);
  font-weight: 600;
  padding: 0.3em;
  margin-bottom: 0.4em;
  text-align: center;
}
.imgdescription {
  padding: 1em 1.5em;
  font-size: clamp(1.1rem, 1vw, 1.3rem);
}

.angoloimg {
  border-radius: 19px 19px 0 0;
  width: 100%;
}
