img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}

.big {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  letter-spacing: 4px;
  font-size: 3em;
  font-weight: 500;
}

.testo {
  margin: 0 auto;
  max-width: 1200px;
}

.testo p {
  color: black;
  padding: 14px 16px;
  font-size: 2.5em;
  text-align: justify;
}

.wrapperP {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.titimg {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  letter-spacing: 4px;
  border-bottom: 3px solid black;
  font-size: 3em;
  font-weight: 200;
}

.imgname {
  font-size: 26px;
  color: black;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}
.imgdescription {
  padding: 20px;
  margin-bottom: 10px;
}
.evidenza {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  transition: transform 0.2s;
}

.angoloimg {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}
.divisore {
  width: 25px;
  display: inline-block;
}
