.ringra {
  margin: 0 auto;
  font-size: 1.4em;
}

.ringra td,
.ringra th {
  padding: 5px 100px;
  text-align: center;
}

.sezione {
  font-size: 3em;
}

.sezione p {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  margin: 15px;
  display: inline;
}

/*p{
  margin: 30px 100px;
  font-size: 3em;
  line-height: 1.5em;
}*/

.padding {
  margin-top: 80px;
}
