.footer {
  background-color: #000;
  /* background-image: url(http://localhost:5000/footer/img?img=sfondo); NON MODIFICARE, lo sfondo è stato aggiunto via react*/
  color: white;
  text-shadow: 3px 2px #222222;
  margin-top: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;

  /* font-size: 1rem; */
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.footer .container {
  width: 100%;
  padding: 6.5rem 1.2rem;
  margin: 0 auto;
}
.footer .righe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2em;
  margin-bottom: 5rem;
}

.footer .righe > .colonne {
  /* flex-basis: 100%; */
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  width: 30em;
}

/* .footer .righe {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5em;
  gap: 2em;
}
.footer .colonne {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  position: relative; 
  width: 100%; 
  padding: 0 2rem;
} */

.footer h2 {
  text-align: center;
  letter-spacing: 0.111em;
  font-size: 3.6em;
  /* font-size: clamp(2.6em, 2vw, 3.6em); */
  font-weight: 500;
  margin-bottom: 1.2em;
}
.footer h2 a:hover {
  opacity: 1;
  color: #00378a;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.footer h3 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.footer a {
  color: whitesmoke;
  text-decoration: none;
}

.footer .colonne li {
  padding-top: 0.6em;
  font-size: 2em;
}
.footer .colonne ul {
  list-style: none;
}

.footer hr {
  height: 1px;
  margin-left: 8.8%;
  margin-right: 17%;
}

.footer .sottoTitolo {
  text-align: center;
  margin-bottom: 1em;
}

.footer .loghi {
  align-items: center;
  margin-bottom: 7em;
}
.footer .loghi:last-child {
  margin: 0;
}

.footer .loghi a {
  margin: 0 2.5rem;
}

.footer .loghi img {
  width: 100%;
  min-height: 5em;
  max-height: 10em;
  display: block;
}

.footer #comuneBologna {
  max-height: 11.5em;
}

.footer .loghi:last-child img {
  max-height: 5.5em;
}

@media (min-width: 40.625em) {
  /* 650px */
  .footer .loghi:last-child img {
    max-height: 8em;
  }
  .footer .loghi img {
    max-height: 12.5em;
  }
  .footer #comuneBologna {
    max-height: 14em;
  }
}
